*{
    margin: 0;
    padding: 0;
   

}

.btn{
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 700;
  background-color: #F15B22;
  border: none;
  border-radius: 5px;
  color: white;
   float: right;
 
}
#banar{
    max-width: 1600px;
   
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;

}
#banar .banar-info{
    max-width: 525px;
    padding: 216px 230px 364px 845px;
}

#banar .banar-info h2{
    font-size: 65px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 24px;
}

#banar .banar-info p{
    font-size: 16px;
    line-height: 26px;
     margin-bottom: 32px;
    text-align: right;
    color: #444343;
}

#about{
    padding-top: 40px;

}
.about-containers{
  
  display: flex;
  gap: 87px;
  align-items: center;
  width: 1072px;
  margin: 0 auto;
}
.about-containers .image img{
    width: 569px;
}
.about-containers .about-infos{
    width: 416px;
}
.about-containers .about-infos h2{
    color: #151414;
    font-size: 40px;
    font-weight: bold;
    width: 287px;
    margin-bottom: 24px;
}
.about-containers .about-infos p{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}
.about-containers .about-infos .check-list{
    width: 316px;
    font-size: 16;
    line-height: 26px;
    color: #444343;
    padding-left: 25px;
}
.btn2{
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 700;
 
  border: none;
  border-radius: 5px;
  color: #F15B22;

}
#hand-banar{
  
    padding-top: 130px;
 
    margin-bottom: 130px;

}
#hand-banar .hand-container{
    width: 1140px;
    margin: 0 auto;
    background-image: url("../images/gradient2.png"), url("../images/watch.png");
    background-repeat: no-repeat;
}

.main-part{
    padding: 59px 617px 59px 64px;
    width: 459px;
}
.main-part h2{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 24px;
} 
footer{
    padding-top: 130px;
    /* border: 2px solid red; */
    padding-bottom: 130px;
    background-color: #151414;
}
.footer-container{
    width: 1140px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 331px;
    align-items: baseline;

}
.footer-container .footer-main{
    width: 485px;
    
}
.footer-container .footer-main h2{
    font-size: 45px;
    font-weight: bold;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.footer-container .footer-main .p1{
    line-height: 26px;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.footer-container .footer-main .p2{
   
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-container .footer-main .p3{
   
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.image{
    display:  flex;
    gap: 18px;
}

.form{
    max-width: 325px;
}
.form h3{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 31px;
}

.email-part{
    padding: 21px 140px 21px 21px;
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
   

}